body, html{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#text{
    color: white;
    font-size: 54px;
    font-weight: bold;
    width: 900px;
    text-transform: uppercase;
    margin: 15% auto;
    text-align: center;
}